JWT::encode() uses wrong Base64 encoding for headers and payload parts

# Issue
Per [RFC 7515 Section 2](https://datatracker.ietf.org/doc/html/rfc7515#section-2):
```
Base64url Encoding
  Base64 encoding using the URL- and filename-safe character set
  defined in Section 5 of RFC 4648 [RFC4648], with all trailing '='
  characters omitted (as permitted by Section 3.2) and without the
  inclusion of any line breaks, whitespace, or other additional
  characters. [...]
```

Per [RFC 7519 Section 3](https://datatracker.ietf.org/doc/html/rfc7519#section-3):
```
A JWT is represented as a sequence of URL-safe parts separated by
period ('.') characters.  Each part contains a base64url-encoded
value.
```

The `JWT::encode()` function does not seem to implement these requirements correctly and uses normal Base 64 in some cases instead.
https://github.com/SocialConnect/jwx/blob/c9860e05c997e668d1cb8863cfed935e879e7847/src/JWT.php#L398-L404

This can cause actual interoperability issues with for example [Azure AD client certificate credentials](https://learn.microsoft.com/en-us/graph/application-rollkey-prooftoken):
```
It is important to note that padding character '=' must not be included in the JWT header and payload or an Authentication_MissingOrMalformed error will be returned.
```

# Steps to reproduce
1. Create this test private key file with the contents:
```
-----BEGIN CERTIFICATE-----
MIIDazCCAlOgAwIBAgIUCBxj5jJwg71o0SllBitalhb9M1YwDQYJKoZIhvcNAQEL
BQAwRTELMAkGA1UEBhMCQVUxEzARBgNVBAgMClNvbWUtU3RhdGUxITAfBgNVBAoM
GEludGVybmV0IFdpZGdpdHMgUHR5IEx0ZDAeFw0yMzA4MDcwOTQ0MTZaFw0yNDAy
MDMwOTQ0MTZaMEUxCzAJBgNVBAYTAkFVMRMwEQYDVQQIDApTb21lLVN0YXRlMSEw
HwYDVQQKDBhJbnRlcm5ldCBXaWRnaXRzIFB0eSBMdGQwggEiMA0GCSqGSIb3DQEB
AQUAA4IBDwAwggEKAoIBAQCry1Lx3rOFyxi8YjH9s+j8rH31ZQYGkVPB2cY1c/aj
hdLNO/1tcNGzXdkP6u4z2g8H8Z48VF0WkO8HfNWSZr0rLUjzWWuzCNNt3G81XK2l
kPO9yW4j6G/zNbOSW8foGelsCKSxfKSWTzPDyVPZf0Fr5ggbu1iXQ5WPYxwO2MpD
ZuqVS6tlyITcDS2d6KszYBbOnQqnERFrlVFVVjcHvT2WiT8ppvPIwEjks97ncvrS
05Chaa+3/HXBuYFVwdP5Pdzv7SRKnyfLkZe/E+vZb4RI3fGzLwZk2nflTNwrKM7G
/jO6aQG87URIsUJ34BhUvnPMaKZ/oHrzGQYH0Pg5FIDhAgMBAAGjUzBRMB0GA1Ud
DgQWBBQs/0H0epEbpG2d3rSWDD/y8Veg8zAfBgNVHSMEGDAWgBQs/0H0epEbpG2d
3rSWDD/y8Veg8zAPBgNVHRMBAf8EBTADAQH/MA0GCSqGSIb3DQEBCwUAA4IBAQAG
o6ZxEGct/jHGYbtR0vfM/iNUijiyK/0SCDEsU0u3+fvgwjLXrJnxheDfNyZvMr3t
E7InzpNy9R0oHy2nG3dK31S0hQaREJL+ud8Tx80hrUgLwYk1AMqgf/AR3XRnOS4H
SeHDdKnC3tC0jCaRnS2dYkdp21K8jPgI8m7whfQ63FyGwYZUfKdR/2W/LKzOH04i
cfAzl8WKhChgvMzYRYJNZFYVkW8nY8fuDOV+KHS1uoFQ3qJLVW+MBx1tyFLW3E7a
otCp2AeDjj3NJskgwI9L2VNlFPK2FqEqZHQ5J4Ylz0gwE07ZTRNHh55BL/fxbg8A
FXYo+c3qaOxCX81Cvy1R
-----END CERTIFICATE-----
```
... and name it "test.pem".
2. Run code similar to:
```php
$jwt = new JWT(['foo' => 'bar']);
$privateKeyInPEM = file_get_contents('test.pem');
$proof = $jwt->encode($privateKeyInPEM, 'RS256', new EncodeOptions());
var_dump($proof);
```
3. Visually inspect the generated JWT.
4. Paste the JWT into https://jwt.io/.

## Expected results
3. No padding characters present.
4. The website considers the JWT valid.

## Actual results
3. `=` padding characters are present in the output: `eyJhb[...].eyJmb28iOiJiYXIifQ==.PGiIW[...]`.
4. The website shows this warning:
```
Warning: Looks like your JWT payload is not encoded correctly using base64url (https://tools.ietf.org/html/rfc4648#section-5). Note that padding ("=") must be omitted as per https://tools.ietf.org/html/rfc7515#section-2
```


Thank you for your detailed bug report. Would you like to open a pull request to fix the issue?

And thank you for the quick response. Yes, I'll work on a fix and open a PR.